.container{
    width: max-content;
    height: max-content;
    position: relative;

    >.name{
        position: absolute;
        top: 2px;
        left: 20px;
        text-transform: capitalize;
        color: #777c98;
    }

    >.input{
        display: inline-block;
        width: 250px;
        height: 50px;
        padding-top: 20px;
        padding-inline: 16px;
        border: 1px solid #b3b3b3;
        border-radius: 30px;
        font-size: 16px;
        color: #333;
        outline: none;
        box-sizing: border-box;
        box-shadow: none;
        transition: border-color 0.3s ease;
      
        &:focus {
            outline: 2px solid #7367F0;
        }

        &:hover {
            border-color: #5a56c2;
          }
        
        &::placeholder {
          color: #7367F0;
        }
      
    }
}