.nodeBuilder{
    width: max-content;
    height: max-content;
    border: 1px solid #c0c0c0;
    box-shadow: 0 0 2px 3px #9b9be9;
    border-radius: 8px;
    padding: 16px;
    background: white;

    >.heading{
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 16px;

        >.icon{
            color: #404354;
        }

        >.label{
            color: #777c98;
            padding-bottom: 2px;
            font-weight: 500;
        }
    }



    >.container{
        width: max-content; height: max-content;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}