body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  width: 100vw; height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.react-flow .react-flow__handle {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #d7d7d700;
  outline: 1px solid #784be8;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after{
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #784be8;
  }
}

.react-flow__handle-right {
  right: -7px !important;
  top: 50%;
  transform: translate(0, -50%);
}